.index {
  color: var(--spotifywhite);
  text-shadow: 0px 3px 5px #000;
}

.artist-img,
.track-img {
  width: 5rem;
  height: 5rem;
}

.track-name {
  width: 14rem;
}

.artist-name {
  width: 10rem;
}

.track-list {
  width: 25rem;
  height: 30rem;
}

.track-artist {
  font-size: 1.25vmin;
}

.time-range-buttons {
  width: 20vw;
}

.time-range-buttons button {
  background: none;
  color: var(--spotifygreen);
  font-family: "Gotham", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  opacity: 50%;
  width: 6.5rem;
}

.time-range-buttons button.active {
  background-color: var(--spotifygreen);
  color: #fff;
  border-radius: 25px;
  padding: .5vmin 0;
  opacity: 100%;
}

.carousel-navigation button {
  background: none;
  opacity: 0.1;
  transition: opacity 0.3s ease;
  border: none;
}

.carousel-navigation img {
  width: .75rem;
}

.carousel-navigation button.active {
  opacity: 1;
}

@media screen and (max-width: 500px) {
  .Music {
    align-items: normal;
    margin-top: 7rem;
  }

  .index {
    font-size: 3.05vmin;
  }

  .artist-name,
  .track-name {
    padding-left: 20px;
    width: 50vw;
    font-size: 3.75vmin;
  }

  .track-artist {
    font-size: 3.25vmin;
  }

  .time-range-buttons {
    justify-content: space-around;
    width: 80vw;
  }

  .carousel-navigation button {
    width: 2vmin;
    height: 2vmin;
    margin-bottom: 3rem;
  }
}
