.Music {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.top-music {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 60vw;
}

.top-music h1 {
  color: var(--spotifywhite);
  font-size: 2.5vmin;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 20px;
}

.top-music ul {
  height: 45vh;
}

.top-music li {
  display: flex;
  align-items: center;
  padding: 10px;
  height: 11vmin;
  position: relative;
}

.top-artists,
.top-tracks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15vw;
}

.index {
  position: absolute;
  background-color: var(--spotifygreen);
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 50%;
  font-weight: bold;
  top: 0;
  left: 2%;
  padding: 5px;
  font-size: 1.25vmin;
}

.artist-img,
.track-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.artist-name,
.track-name {
  display: inline-block;
  padding-left: 15px;
  font-size: 1.5vmin;
  text-align: center;
  width: 10vw;
  font-weight: bold;
}

.track-artist {
  opacity: 40%;
  font-weight: normal;
  font-style: italic;
  line-height: 2;
  font-size: 1.25vmin;
}

.time-range-buttons {
  display: flex;
  justify-content: space-between;
  width: 20vw;
  padding-bottom: 25px;
}

.time-range-buttons button {
  background: none;
  color: var(--spotifygreen);
  font-family: "Gotham", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  opacity: 50%;
}

.time-range-buttons button.active {
  background: none;
  color: var(--spotifygreen);
  font-family: "Gotham", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid var(--spotifygreen);
  border-radius: 25px;
  opacity: 100%;
}

.carousel-navigation {
  display: flex;
  column-gap: 10px;
  padding-top: 10px;
}

.carousel-navigation button {
  width: 1vmin;
  height: 1.1vmin;
  border-radius: 50%;
  margin: 0 5px;
  opacity: 0.1;
  transition: opacity 0.3s ease;
  border: none;
}

.carousel-navigation button.active {
  opacity: 1;
  background-color: var(--spotifygreen);
}

@media screen and (max-width: 500px) {
  .Music {
    height: auto;
  }

  .top-music,
  .top-artists,
  .top-tracks {
    width: 100vw;
  }

  .top-music {
    flex-direction: column;
    row-gap: 5vmin;
    margin-top: 25vmin;
  }

  .top-music h1 {
    display: block;
    font-size: 7vmin;
    padding-bottom: 0;
  }

  .top-music ul {
    height: auto;
  }

  .top-music li {
    height: 25vmin;
  }

  .index {
    font-size: 3.05vmin;
  }

  .artist-name,
  .track-name {
    padding-left: 20px;
    width: 50vw;
    font-size: 3.75vmin;
  }

  .track-artist {
    font-size: 3.25vmin;
  }

  .time-range-buttons {
    justify-content: space-around;
    width: 100%;
    padding-bottom: 15px;
  }

  .carousel-navigation {
    padding-bottom: 20px;
  }

  .carousel-navigation button {
    height: 3vmin;
  }
}
