.Music {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.user {
    display: flex;
    align-items: center;
    position: fixed;
    top: 15px;
    right: 15px;
}

.user-img {
    width: 25px;
    border-radius: 50%;
}

.user-name {
    margin: 0;
    padding-right: 10px;
    font-size: 12px;
}

.top-music {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60vw;
}

.top-music h1 {
    color: var(--spotifywhite);
    font-size: 2.5vmin;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 20px;
}

.top-music ul {
    height: 50vh;
}

.top-music li {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 11vmin;
}

.top-artists, .top-tracks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15vw;
}

.artist-img, .track-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.artist-name, .track-name {
    display: inline-block;
    padding-left: 15px;
    font-size: 14px;
    text-align: center;
    width: 10vw;
    font-weight: bold;
}

.track-artist {
    opacity: 50%;
    font-weight: normal;
    font-style: italic;
    line-height: 2;
}

.time-range-buttons {
    display: flex;
    justify-content: space-between;
    width: 20vw;
    padding-bottom: 25px;
}

.time-range-buttons button {
    background: none;
    color: var(--spotifygreen);
    font-family: "Gotham", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    opacity: 50%;
}

.time-range-buttons button.active {
    background: none;
    color: var(--spotifygreen);
    font-family: "Gotham", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid var(--spotifygreen);
    border-radius: 25px;
    opacity: 100%;
  }