.index {
  color: var(--spotifywhite);
  text-shadow: 0px 3px 5px #000;
  margin-left: -.25rem;
}

.artist-img,
.track-img {
  width: 5rem;
  height: 5rem;
}

.track-name {
  width: 14rem;
}

.artist-name {
  width: 10rem;
}

.track-list {
  width: 25rem;
  height: 30rem;
}

.track-artist {
  font-size: 1.25vmin;
}

.time-range-buttons button {
  background: none;
  color: var(--spotifygreen);
  font-family: "Gotham", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  opacity: 50%;
  width: 6.5rem;
  font-size: .9rem;
}

.time-range-buttons button.active {
  background-color: var(--spotifygreen);
  color: #fff;
  border-radius: 25px;
  opacity: 100%;
}

.carousel-navigation button {
  background: none;
  opacity: 0.1;
  transition: opacity 0.3s ease;
  border: none;
}

.carousel-navigation img {
  width: .75rem;
}

.carousel-navigation button.active {
  opacity: 1;
}

@media screen and (max-width: 500px) {

  .track-artist {
    font-size: 3.25vmin;
  }

  .time-range-buttons button {
    width: 7rem;
  }

  .carousel-navigation button {
    margin-bottom: 3rem;
  }
}
