#signIn {
  background-color: var(--spotifygreen);
}

#signIn p {
  font-family: "Gotham";
  font-weight: bold;
  letter-spacing: -0.5px;
  color: var(--spotifywhite);
}

.spotify-logo {
  width: 7rem;
  margin-left: .75rem;
}
