#signIn {
  font-family: "Gotham";
  font-weight: bold;
  letter-spacing: -0.5px;
  background-color: var(--spotifygreen);
  color: var(--spotifywhite);
}

.spotify-logo {
    width: 100px;
    margin-left: 10px;
}