@font-face {
  font-family: "Gotham";
  src: url("/fonts/GothamBook.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("/fonts/GothamBookItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Gotham";
  src: url("/fonts/GothamBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("/fonts/GothamBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

:root {
  --spotifygreen: #1db954;
  --spotifywhite: #ffffff;
  --spotifyblack: #191414;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--spotifyblack);
  margin: 0;
  font-family: "Gotham";
  color: var(--spotifywhite);
}

a {
  text-decoration: none !important;
  color: var(--spotifywhite);
}

ul,
li {
  list-style-type: none;
  padding: 0;
}

.logout {
  color: var(--spotifywhite);
  background-color: var(--spotifygreen);
  font-size: 1.25vmin;
  cursor: pointer;
}

.user-img {
  width: 2.25rem;
}

.user-name {
  font-size: 1.25vmin;
}

@media screen and (max-width: 500px) {
    .logout, .user-name {
        font-size: 2.8vmin;
    }
}