@font-face {
  font-family: "Gotham";
  src: url("../../public/fonts/GothamBook.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("../../public/fonts/GothamBookItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Gotham";
  src: url("../../public/fonts/GothamBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("../../public/fonts/GothamBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

:root {
  --spotifygreen: #1db954;
  --spotifywhite: #ffffff;
  --spotifyblack: #191414;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--spotifyblack);
  margin: 0;
  font-family: "Gotham";
  color: var(--spotifywhite);
}

a {
  text-decoration: none;
  color: var(--spotifywhite);
}

ul,
li {
  list-style-type: none;
  padding: 0;
}

.logout {
  color: var(--spotifywhite);
  background-color: var(--spotifygreen);
  position: fixed;
  top: 15px;
  right: 15px;
  margin: 0;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 1.25vmin;
  font-weight: bold;
}

.logout:hover {
  cursor: pointer;
}

.user {
  display: flex;
  align-items: center;
  position: fixed;
  top: 15px;
  left: 15px;
}

.user-img {
  width: 25px;
  border-radius: 50%;
}

.user-name {
  margin: 0;
  padding-left: 10px;
  font-size: 1.25vmin;
}

@media screen and (max-width: 500px) {
    .logout, .user-name {
        font-size: 2.75vmin;
    }
}